@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;	
	}
.button{
	color:#FFFFFF ;
	text-align: center;
	font-size: 15px;
	height: 36px;
	font-family:"微软雅黑";
	background-color:#2e4668;
	border: 2px solid #2e4668;
	border-radius: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 10px;
	padding-right: 10px;
	}
.navg{
	float: left;
	margin-left: 5px; 
	margin-right: 5px;
	}
.navg button:hover{
	transition: 0.4s;
	background-color: #CC225F;
	border: 2px solid #CC225f;
	box-shadow:  0px 2px 3px 2px darkgrey;
	}
.subTitle{
	width: 90%;
	height: 36px;
	border: 2px solid #000000;
	border-radius: 8px;
	background-color:#cc225f;
	margin: 2px;
	text-align:center;
	color:aliceblue;
	font-family:"微软雅黑";
	font-size: 25px;
	}
.content{
	width: 85%;
	height: auto;
	background-color: transparent;
	}
.content button:hover{
	transition: 0.4s;
	box-shadow:  0px 2px 3px 2px darkgrey;
	} 
.titletext{
	display:inline-block;
	width:auto;
	height:40px;
	align:left;
	color: #605F5F;
	font-size: 24px;
	font-weight: 600;
	background-color: transparent;
	border: 0;
	font-family:"等线";
	padding-top:13px;
	}
.functiontext{
	width: 65px;
	height:50px;
	font-size: 15px;
	font-weight: 600;
	background-color: transparent;
	border: 0;
	font-family:"等线"
	}
.pic{
	width: 48px;
	height: 48px;
	background-repeat:no-repeat ;
	background-size:48px 48px; 
	border: 0;
	background-color: transparent;
	}
.picbutton{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-repeat:no-repeat ;
	background-size:100%; 
	border: 2px solid #E8779F;
	background-color: #E8779F;
	margin-top: 4px;
	}

.bottom{
	position:fixed; 
	bottom:10px;
	right:10px;
	height: 48px;
	width: 48px;
	}
.hidden_box{
	display:inline-block;
	margin:0;
	padding:0;
	position:fixed; 
	top:4px;
	right:5px;
	}
.hidden_box label{
	cursor :pointer;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-repeat:no-repeat ;
	background-size:100%; 
	background-color: #E8779F;
	background-image: url(Img/control.png);
	}
.hidden_box label:hover{
	transition: 0.4s;
	background-color: #CC225F;
	box-shadow:  0px 2px 3px 2px darkgrey;
	} 
.hide button:hover{
	background-color:#CC225F;
	}
.hidden_box input{display: none;}
.hidden_box .hidden_show{
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s;
	}
.hidden_box input:checked ~ .hidden_show{
	padding: 10px 0;
	height: auto;
	opacity: 1;
	}



#container{
	width: 100%;
	align: center;
	background:#E8E8E8;
	height:auto; 
	}
#nav{
	width:100%; 
	height: 48px; 
	background:transparent;
	}
#main{
	width:100%;
	height:auto;
	margin-top:0px;
	background:#FFFFF;
	padding-top: 10px;
	}
#ul{list-style-type:none;}
ul li {list-style: none}
ul .hide{
	margin-bottom: 3px;
	margin-top: 3px
	}
#Nowplay{
	width: 400px;
	height:50px;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	background-color: transparent;
	border: 0;
	font-family:"等线";	
	margin-left: 50%;
	}
