@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;	
	}
.button{
	color:#FFFFFF ;
	text-align: center;
	font-size: 15px;
	height: 36px;
	font-family:"微软雅黑";
	background-color:#2e4668;
	border: 2px solid #2e4668;
	border-radius: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 10px;
	padding-right: 10px;
	}
.subTitle{
	width: 95%;
	height: 36px;
	border: 2px solid #000000;
	border-radius: 8px;
	background-color:#cc225f;
	margin: 2px;
	text-align:center;
	color:aliceblue;
	font-family:"微软雅黑";
	font-size: 25px;
	}
.content{
	width: 90%;
	height: auto;
	background-color:#8A85F5;
	}
.titletext{
	display:inline-block;
	width:110px;
	height:48px;
	align:left;
	color: #605F5F;
	font-size: 24px;
	font-weight: 400;
	background-color: transparent;
	border: 0;
	font-family:"等线";
	padding-top:13px;
	}
.functiontext{
	width: 65px;
	height:50px;
	font-size: 15px;
	font-weight: 600;
	background-color: transparent;
	border: 0;
	font-family:"等线"
	}
.pic{
	width: 48px;
	height: 48px;
	background-repeat:no-repeat ;
	background-size:48px 48px; 
	border: 0;
	background-color: transparent;
	}
.picbutton{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-repeat:no-repeat ;
	background-size:100%; 
	border: 2px solid #000000;
	background-color: transparent;
	margin-left: 3px;
	margin-right: 3px;
	}
.bottom{
	position:fixed; 
	bottom:10px;
	right:10px;
	height: 48px;
	width: 48px;
	}
.hidden_box{
	display:inline-block;
	margin:0;
	padding:0;
	position:fixed; 
	top:100px;
	right:100px;
	}
.hidden_box label{
	cursor :pointer;
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-repeat:no-repeat ;
	background-size:100%; 
	border: 2px solid #000000;
	background-color: transparent;
	background-image: url(Img/control.png);
	}
.hidden_box label:hover{
	background-color: #efefef;
	} 
.hidden_box input{display: none;}
.hidden_box .hidden_show{
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s;
	}
.hidden_box input:checked ~ .hidden_show{
	padding: 10px 0;
	height: auto;
	opacity: 1;
	}

#container{
	width: 100%;
	align: center;
	background:#E8E8E8;
	height:auto; 
	}
#nav{
	position:fixed; 
	top:0; 
	width:100%; 
	height: 48px; 
	background:#EBEBEB;
	}
#main{
	width:100%;
	height:auto;
	margin-top:55px;
	background:#FFFFF;
	padding-top: 10px;
	}
li{
	display: inline-block;
	list-style:none; 
	padding: 0px;
	margin: 0px;
	}
#Nowplay{
	width: 400px;
	height:50px;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	background-color: transparent;
	border: 0;
	font-family:"等线";	
	margin-left: 50%;
	}
